.experience{
  margin-top: 7rem;
  background-color: var(--exp);
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  >:nth-child(1){
    font-size: 48pt;
    font-weight: bold;
  }
  .e-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  
}

@media screen and (max-width:480px) {
  .experience{
    padding: 0.5rem 1rem;
    >:nth-child(1){
      font-size: 30pt;
    }
    .e-icons{
      flex-direction: column;
      gap: 0rem;
    img{
      transform: scale(0.5);
    }
    >:nth-child(9){
      transform: scale(0.5);
      }
    }
  }
}