.work{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--exp);
  margin-top: 7rem;
  padding: 3rem 0;
  gap: 2rem;
  >:nth-child(1){
    font-size: 48pt;
  }
  >:nth-child(2){
    color: var(--text);
    padding-top: 1rem;
  }
}

@media screen and (max-width:480px) {
  .work{
    padding: 0.5rem 1rem;
    align-items: flex-start;
    height: 40vh;
    gap: 0;
    padding-top: 14rem;
    :nth-child(1){
      font-size: 30pt;
      padding-top: 5rem;
    }
    img{
      transform: scale(0.3);
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      left: -17.5rem;
      top: -10rem;
    }
  }
}